# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/control.csv
data/test.csv
data/control.csv
data/test.csv
data/processed/*
notebooks/.ipynb_checkpoints/
.DS_Store
